<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class = "container">
<h1 th:text="${title}">Default Title</h1>
<nav th:fragment="navigation">
    <a href="/event">List events</a>
    <a href="/event/add">Add event</a>
</nav>


<form method="POST" enctype="multipart/form-data" id="event-form">
    <table>
        <tr><td>Name of even</td><td><input type="text" name="name"/></td></tr>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>

    </table>
</form>
<textarea rows="5" cols="40" form="event-form" name="desc"></textarea>
</body>
</html>