<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class = "container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method = "post">
    username<input type="text" name="username"/>
    email<input type="email" name="email"/>
    password_hash<input type="text" name ="password_hash"/>
    salt<input type="text" name="salt"/> 
    <input type="submit" value="Add User"/>
</form>

</body>
</html>
