.header{
	text-align: center;
}


.control-label1{
	text-align: center;
	display:block;
}
.header{
	border-bottom: 1px solid black;
	border-top: 1px solid #222831;
}

.input-group{
	width:80%;
}

.col-centered{
	margin:0 auto;
}
.form-horizontal{

}

.entry-title{
	text-align: center;
}

.list-quotes {
    background: #393e46;
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    display: block;
    height: 200px;
    text-align: center;
    box-shadow:none;
}
.list-quotes img,
.list-quotes h1 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.list-quotes .img-responsive{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height:100%;
    width: 100%;
    vertical-align: middle;
}
.list-quotes h1{
    background: rgba(0, 173, 181, 0.8);
    bottom: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    padding: 15px;
    position: absolute;
    margin: 0;
}
.list-quotes .year{
    background: rgba(34, 40, 49, 0.8);
    color: #d8dfe2;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.list-quotes .year, .list-quotes .cat-name{
    transition-property: width;
    transition-duration: 250ms;
    transition-timing-function: linear;

    width: 20%;
}
.list-quotes .cat-name{
    background: rgba(34, 40, 49, 0.8);
    color: #d8dfe2;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.list-quotes p {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    background: rgba(34, 40, 49, 0.8);

    width: 100%;
    color: #d8dfe2;
}
.list-quotes:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    opacity: 0.5;
    transition: all 250ms ease;
}
.list-quotes:hover h1 {
    -webkit-transform: translate3d(-500px,0,0);
    text-shadow: 0px 0 15px #fff;
    transition: all 250ms ease;
}
.list-quotes:hover .year,.list-quotes:hover .cat-name{
    width: 50%;
    transition: width 250ms ease;
}
.list-quotes:hover{


    border: none;
}
.list-quotes:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.quotes span{
    font-weight: bold;
    text-transform: capitalize;
    color: #d8dfe2;
}

input[type=radio] {
    color: #222931;
    width :10px
    height: 10px;
}

.radio-button .form-control{
    height:20px;
    width:20px;
}
.slide-btn{
	width:100%;
	margin:0; !important
}

.glyphicon{
	margin-right:5px;
}

#user-event-sllide{
	width:100%;
}

.filter-button{
    margin: 5px;
    padding: 5px;
    border-top: 1px solid black;
}
.filtering{
    float:right;
}

.prof-img{
    display:block;
    height:90px;
    width:150px;
    max-height: 100%;
    max-width: 100%;
    border-radius:5%    ;
}
.well .glyphicon { margin-right:5px;}
.well{ background-color: #d8dfe2; }
.results{ background-color: #222831; }
.entry-title{color: #d8dfe2;}
.section-box h2 a { font-size:15px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}