<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    
    <link rel="stylesheet" th:href="@{/css/event.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>-->
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>Digital Playground</title>
    <!--<script th:src="@{/js/event-map.js}"></script>-->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/counter.js}"/>
    <script th:src="@{/js/apptemp.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        

        function initialize() {
            var lat = [[${event_lat}]];
            var lng = [[${event_lng}]];
                    console.log(lat);
                            console.log(lng);
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    center: new google.maps.LatLng(lat, lng),
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map
        });

        }
        google.maps.event.addDomListener(window, 'load', initialize);


        function popup(){
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    /*]]>*/
    </script>
</head>

<body class="main">

    <nav th:replace="navbar :: navigation"></nav>

    <div class="container">
        <div class="row">
            <div class="event-header">
                <input id="event_id"  style="display:none" th:value="${event.id}"></input>
                <input id="user_id"  style="display:none" th:value="${#authentication.name}"></input>
                <img class="img-responsive cover" th:src="${'http://localhost:8080/event/image/' + event.id}" />
                <div class="text">
                    <div class="title" th:text="${event.name}">Event Name</div>
                    <div class="date" th:text="${event.date}">Date</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="description">
                    <div class="desc-header">
                        <h4>Description</h4>
                    </div><br/>
                    <div class="desc-text">
                        <p>This iThe process of writing a job description requires having a clear understanding of the job’s duties and responsibilities. The job posting should also include a concise picture of the skills required for the position to attract qualified job candidates. Organize the job description into five sections: Company Information, Job Description, Job Requirements</p>

                    </div><br/>
                </div>
                <div class="comments">
                    <div class="desc-header">
                        <h4>Discussion</h4>
                    </div><br/>
                    <div class="upload">
                        <form id="comm">
                            <textarea id="name" max-length="250" class="form-control" rows="3" placeholder="Leave a comment here..."/>
                            <button id="send" class="btn btn-success green" type="submit">Comment</button>
                        </form>
                    </div>
                    <div id="greetings" ckass="greetings">
                    <div class='row row-eq-height comment' th:each="comment : ${comments}">
                        <div class='col-xs-2'>

                            <div class='pic col-xs-offset-1'>
                                <img src='http://via.placeholder.com/50x50'/>
                            </div>
                        </div>
                        <div class='col-xs-10 text'>
                            <div class='row'>
                                <div class='col-xs-9'>
                                    <div class="name">Nikos Ge</div>
                                </div>
                                <div class='col-xs-2'>
                                    <div class="date">4/03/3534</div>
                                </div>
                            </div>
                            <div class='body'>
                                <p>This iThe process of writing a job description requires having a clear understanding of the job’s duties and responsibilities. The job posting should also include a concise picture of the skills required for the position to attract qualified job candidates. Organize the job description into five sections: Company Information, Job Description, Job Requirements</p>

                            </div> 
                            
                        </div>
                    </div>
                    </div> 
                     <div class='row row-eq-height comment' th:each="comment : ${comments}">
                        <div class='col-xs-2'>

                            <div class='pic col-xs-offset-1'>
                                <img src='http://via.placeholder.com/50x50'/>
                            </div>
                        </div>
                        <div class='col-xs-10 text'>
                            <div class='row'>
                                <div class='col-xs-6'>
                                    <div class="name" th:text="${comment.user.username}">Nikos Ge</div>
                                </div>
                                <div class='col-xs-6'>
                                    <div class="date" th:text="${comment.date}">4/03/3534</div>
                                </div>
                            </div>
                            <div class='body'>
                                <p th:text="${comment.body}"></p>

                            </div> 
                            
                        </div>
                    </div>     
                </div>              
            </div>
            <div class="col-xs-4">
                
                <div class="tickets">
                    <div class="tickets-header">
                        <h4>Tickets</h4>
                    </div><br/>
                    <div class="ticket-available">
                        <h4>10$ / Ticket</h4>
                    </div>
                    <form class="checkout" method="post" id="ticket-form">
                        <label for="qty"></label>
                        <button type="button" class="ticket-number">
                            <span><i class="glyphicon glyphicon-minus" onclick="modify_qty(-1)"></i></span>
                        </button>
                        <input id="qty" name="qty" value="0" />
                        <button type="button" class="ticket-number">
                            <span><i class="glyphicon glyphicon-plus" onclick="modify_qty(1)"></i></span>
                        </button>
                        
                    </form><br/>
                    <button id ="myBtn" class="ticket-button">Book Now</button>
                    <!-- The Modal -->
                    <div class="error" th:if="${error_string != null}" th:text="${error_string}">asdfasdf</div>
                    <div class="success" th:unless="${error_string}" th:if="${success_string != null}" th:text="${success_string}">asdfasdf</div>
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <span id="close" class="close">&times;</span>
                                <h2>Confirm Booking</h2>
                            </div>
                            <div class="modal-body">
                                <span id="demo"></span><p>Tickets</p>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" form="ticket-form" value="Confirm" class="confirm-button"></input>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="location">
                    <div class="loc-header">
                        <h4>Location</h4>
                    </div>
                    <div id="map" style="clear:both; height:200px;"></div>
                </div>
                <div class="organized">
                    <div class="organized-header">
                        <h4>Organized</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        This is us
    </footer>




</body>
</html>
